.text {
    -unity-font-definition: url("project://database/Assets/12.%20Sprites/Fonts/BUNGEE-REGULAR.TTF?fileID=12800000&guid=2a2d02c5019b70e4cafcaf7465c374ed&type=3#BUNGEE-REGULAR");
    color: rgb(63, 221, 0);
    font-size: 12px;
    white-space: pre-wrap;
}

.disabledOpacity {
    width: 400px;
    align-items: center;
    opacity: 1;
}

.unity-base-field {
}
